<h3>Create Customer</h3>
<div [hidden]="submitted">
    <form (ngSubmit) = "onSubmit()">
        <div class="form-group">
            <label for="name">First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)] = "customer.firstName">
        </div>
        <div class="form-group">
            <label for="name">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)] = "customer.lastName">
        </div>
        <div class="form-group">
            <label for="name">City</label>
            <input type="text" class="form-control" id="city" name="city" [(ngModel)] = "customer.city">
        </div>
        <div class="form-group">
            <label for="name">District</label>
            <input type="text" class="form-control" id="district" name="district" [(ngModel)] = "customer.district">
        </div>
        <div class="form-group">
            <label for="name">ID Number</label>
            <input type="text" class="form-control" id="idNumber" name="idNumber" [(ngModel)] = "customer.idNumber">
        </div>
        <div class="form-group">
            <label for="name">Email</label>
            <input type="text" class="form-control" id="email" name="email" [(ngModel)] = "customer.email">
        </div>
        <div class="form-group">
            <label for="name">Phone</label>
            <input type="text" class="form-control" id="phone" name="phone" [(ngModel)] = "customer.phone">
        </div>
        <button class="btn btn-success">Submit</button>
    </form>
</div>




